:root {
--pitch-black: #0B0C10;
--dark-grey: #1F2833;
--steel-grey: #c7c5c5;
--light-turq: #66FCF1;
--dark-turq: #45A29E;
--white: white;
}

@keyframes hover {
    from {
        color: var(--initial-color);
    }
    to {
        color:var(--second-color);
    }
}

@keyframes navHoverEffect {
    from {
        background-color: var(--pitch-black);
        padding: 0 10px;
        padding-bottom: 0;
        
    }
    to {
        background: linear-gradient(to bottom, var(--pitch-black), var(--pitch-black), var(--steel-grey));
        padding: 0 10px;
        padding-bottom: 20px;
    }
}

html {
    font-family:Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, p, li {
    color: var(--white);
}

a {
    color: var(--white);
}

dfn {
    font-style: normal;
}

body {
    width: 100%;
    margin-left: 0;
    background-color: var(--white);
    padding: 0;
}

header {
    display: flex;
    position: fixed;
    margin: 0;
    background-color: var(--pitch-black);
    margin-left: 0px;
    top:0;
    height: 80px;
    width:100%;
    border: solid 2px black;
    justify-content: space-between;
    box-shadow: 0px 5px 25px rgba(249, 33, 33, 0.614);
}

#heading {
    padding-left: 2%;
    text-decoration: none;
}

#heading:hover {
    --initial-color:rgb(255, 255, 255);
    --second-color:red;
    animation: hover 0.3s forwards;
}

#home-link {
    text-decoration: none;
}

nav {
    display: flex;
    width:50%;
}

#nav-list {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content:right;
    align-items: center;
}

.nav-links {
    display: flex;
    padding: 0 10px;
    margin: -1px;
    align-items: center;
    justify-items:center;
    color: white;
    text-decoration: none;
    height: 100%;
    width: auto;
    background-color: var(--pitch-black);
}
.nav-btns {
    display: flex;
    padding: 0;
    margin: 5p;
    align-items: center;
    justify-items: center;
    display: flex;
    /* color: aliceblue; */
    height: 100%;
    border: solid 1px black;
    list-style: none;
}

.nav-links:hover {
    display: flex;
    margin: -3px;
    z-index: 2;
    align-items: center;
    justify-items: right;
    --initial-color:white;
    --second-color: rgb(218, 32, 32);
    text-decoration: none;
    height: 100%;
    width: auto;
    border: solid 2px var(--steel-grey);
    border-radius: 10px;
    background: linear-gradient(to bottom, var(--pitch-black), var(--pitch-black), var(--steel-grey));
    animation:navHoverEffect .3s forwards, hover 0.3s forwards;
    
    
}

.current-tab {
    display: flex;
    font-weight: bold;
    margin: -3px;
    z-index: 1;
    align-items: center;
    justify-items: right;
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 100%;
    width: auto;
    border: solid 2px var(--steel-grey);
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(147, 6, 6), rgb(147, 6, 6), var(--steel-grey));
}

main {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin-left: -10px;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 80px;
    background-color: rgb(34, 34, 34);
}

.bg-div {
    background-image: url(images/octopus.jpg);
    margin: 30px 0;
}

#regen-in-animals {
    margin-top: 0;
}

#research-ad-app  {
    background-image: url(images/reseacrch.jpg);
    background-size: cover;
}

#benefits {
    background-image: url(images/plant.jpg);
    background-size: cover;
    background-position: center;
}

#conclusion {
    display: flex;
    background-image: url(images/light.jpg);
    background-size: cover; 

}

#axolotls {
    background-image: url(./images/axolotls.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
    margin-top: 0;
}

#africanSpinyMouse {
    background-image: url(./images/afrspinyrodent.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
    margin-top: 0;
}

#starfish {
    background-image: url(./images/starfish.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
    margin-top: 0;
}

#octopus {
    background-image: url(./images/octopus2.jpeg);
    height:100vh;
    background-size: cover;
    background-position: center;
    margin-top: 0;
}

.details {
    display: flex;
    height: auto;
    justify-self: right;
    background-color: rgba(250, 161, 161, 0.712);
    width: 25%;
    margin-right: 30px;
    margin-top: 40px;
    padding: 5px;
}

.details p {
    color: black
}

section {
    display: flex;
    background-color: rgba(19, 19, 19, 0.637);
    width:70%;
    margin: auto;
    height: inherit;
    align-items: center;
    padding: 2%;

}

footer {
    margin-bottom: 0;
    padding: 0;
}